// Roboto 

@font-face {
    font-family: RobotoRegular;
    src: url(./../../fonts/roboto/RobotoRegular.woff);
}

@font-face {
    font-family: RobotoMedium;
    src: url(./../../fonts/roboto/RobotoMedium.woff);
}

@font-face {
    font-family: RobotoLight;
    src: url(./../../fonts/roboto/RobotoLight.woff);
}

//Poppins
@font-face {
    font-family: PoppinsRegular;
    src: url(./../../fonts/poppins/Poppins-Regular.woff);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(./../../fonts/poppins/Poppins-Medium.woff);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(./../../fonts/poppins/Poppins-SemiBold.woff);
}

//Heebo
@font-face {
    font-family: HeeboRegular;
    src: url(./../../fonts/heebo/heebo-regular.woff);
}
